/dts-v1/;
#include "mt7981.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/thermal/thermal.h>

/ {
	compatible = "globenet,sn-r1", "mediatek,mt7981ba", "mediatek,mt7981-emmc-rfb";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;
	model = "Globenet SN-R1 (MT7981BA)";

	chosen {
		bootargs = "console=ttyS0,115200n1 loglevel=8 earlycon=uart8250,mmio32,0x11002000 root=PARTLABEL=rootfs rootfstype=squashfs,f2fs";
		stdout-path = "serial0:115200n8";
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x00 0x40000000 0x00 0x40000000>;
		mediatek,ddr4-timing = <0x10 0x08 0x06 0x04 0x02 0x00>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		secmon@43000000 {
			reg = <0x00 0x43000000 0x00 0x30000>;
			no-map;
		};

		wmcpu-reserved@47C80000 {
			compatible = "mediatek,wmcpu-reserved";
			no-map;
			reg = <0x00 0x47c80000 0x00 0x100000>;
		};

		wocpu0_emi@47D80000 {
			compatible = "mediatek,wocpu0_emi";
			no-map;
			reg = <0x00 0x47d80000 0x00 0x40000>;
			shared = <0x00>;
		};

		wocpu_data@47DC0000 {
			compatible = "mediatek,wocpu_data";
			no-map;
			reg = <0x00 0x47dc0000 0x00 0x240000>;
			shared = <0x01>;
		};
	};

	oscillator@0 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <0x2625a00>;
		clock-output-names = "clkxtal";
	};

	infracfg_ao@10001000 {
		compatible = "mediatek,mt7981-infracfg_ao","syscon";
		reg = <0x00 0x10001000 0x00 0x68>;
		#clock-cells = <1>;
	};

	topckgen@1001B000 {
		compatible = "mediatek,mt7981-topckgen","syscon";
		reg = <0x00 0x1001b000 0x00 0x1000>;
		#clock-cells = <1>;
	};

	regulator-3p3v {
		compatible = "regulator-fixed";
		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	regulator-1p8v {
		compatible = "regulator-fixed";
		regulator-name = "fixed-1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	gpio-keys {
		compatible = "gpio-keys";

		reset {
			label = "reset";
			linux,code = <KEY_RESTART>;
			gpios = <&pio 1 GPIO_ACTIVE_LOW>;
			debounce-interval = <60>;
		};

		wps {
			label = "wps";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&pio 0 GPIO_ACTIVE_LOW>;
			debounce-interval = <60>;
		};
	};

	gpio-leds {
		compatible = "gpio-leds";

		led_red {
			label = "sn-r1:red:status";
			gpios = <&pio 13 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		led_green {
			label = "sn-r1:green:wifi";
			gpios = <&pio 11 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led_yellow {
			label = "sn-r1:yellow:wan";
			gpios = <&pio 12 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			enable-method = "psci";
			reg = <0x00>;
		};

		cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			enable-method = "psci";
			reg = <0x01>;
		};
	};

	psci {
		compatible = "arm,psci-0.2";
		method = "smc";
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupt-parent = <&gic>;
		clock-frequency = <0xc65d40>;
		interrupts = <GIC_PPI 13 (GIC_CPU_MASK_SIMPLE(2) | IRQ_TYPE_LEVEL_HIGH)>,
			     <GIC_PPI 14 (GIC_CPU_MASK_SIMPLE(2) | IRQ_TYPE_LEVEL_HIGH)>,
			     <GIC_PPI 11 (GIC_CPU_MASK_SIMPLE(2) | IRQ_TYPE_LEVEL_HIGH)>,
			     <GIC_PPI 10 (GIC_CPU_MASK_SIMPLE(2) | IRQ_TYPE_LEVEL_HIGH)>;
	};

	interrupt-controller@c000000 {
		compatible = "arm,gic-v3";
		#interrupt-cells = <3>;
		interrupt-parent = <&gic>;
		interrupt-controller;
		reg = <0x00 0xc000000 0x00 0x40000>,
		      <0x00 0xc080000 0x00 0x200000>;
		interrupts = <GIC_PPI 9 (GIC_CPU_MASK_SIMPLE(2) | IRQ_TYPE_LEVEL_HIGH)>;
	};
};

&gic {
	status = "okay";
};

&pio {
	compatible = "mediatek,mt7981-pinctrl";
	reg = <0x00 0x11d00000 0x00 0x1000>,
	      <0x00 0x11c00000 0x00 0x1000>,
	      <0x00 0x11c10000 0x00 0x1000>,
	      <0x00 0x11d20000 0x00 0x1000>,
	      <0x00 0x11e00000 0x00 0x1000>,
	      <0x00 0x11e20000 0x00 0x1000>,
	      <0x00 0x11f00000 0x00 0x1000>,
	      <0x00 0x11f10000 0x00 0x1000>,
	      <0x00 0x1000b000 0x00 0x1000>;
	reg-names = "gpio_base", "iocfg_rt_base", "iocfg_rm_base",
		    "iocfg_rb_base", "iocfg_lb_base", "iocfg_bl_base",
		    "iocfg_tm_base", "iocfg_tl_base", "eint";
	gpio-controller;
	#gpio-cells = <2>;
	gpio-ranges = <&pio 0 0 56>;
	interrupt-controller;
	interrupts = <GIC_SPI 225 IRQ_TYPE_LEVEL_HIGH>;
	interrupt-parent = <&gic>;
	#interrupt-cells = <2>;

	mmc0-pins {
		mux {
			function = "flash";
			groups = "emmc_45";
		};
		conf {
			pins = "SPI_MOSI", "SPI_MISO", "SPI_CLK", "SPI_CS",
			       "GPIO_22", "GPIO_23", "GPIO_24", "GPIO_25";
			drive-strength = <10>;
			bias-pull-up;
		};
	};
};

&uart0 {
	status = "okay";
};

// ====================== M.2 PCIe 打开（插卡就能用） ======================
&pcie {
	status = "okay";
};

&pcie_phy {
	status = "okay";
};
// ==========================================================================

// ====================== 原生 USB 关闭（你主板没有） ======================
&xhci {
	status = "disabled";
};

&usb_phy {
	status = "disabled";
};
// ==========================================================================

&mmc0 {
	compatible = "mediatek,mt7986-mmc", "mediatek,mt7981-mmc";
	reg = <0x00 0x11230000 0x00 0x1000>,
	      <0x00 0x11c20000 0x00 0x1000>;
	interrupts = <GIC_SPI 143 IRQ_TYPE_LEVEL_HIGH>;
	clocks = <&topckgen 51>, <&topckgen 52>, <&infracfg_ao 43>;
	assigned-clocks = <&topckgen 84>, <&topckgen 85>;
	assigned-clock-parents = <&topckgen 2>, <&topckgen 28>;
	clock-names = "source", "hclk", "source_cg";
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&mmc0-pins>;
	bus-width = <8>;
	max-frequency = <200000000>;
	cap-mmc-highspeed;
	non-removable;
	disable-wp;
	mmc-hs200-1_8v;
	mediatek,emmc-trim-support;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "BL2";
			reg = <0x0 0x100000>;
			read-only;
		};
		partition@100000 {
			label = "u-boot-env";
			reg = <0x100000 0x100000>;
		};
		partition@200000 {
			label = "Factory";
			reg = <0x200000 0x200000>;
			read-only;
		};
		partition@400000 {
			label = "FIP";
			reg = <0x400000 0x200000>;
			read-only;
		};
		partition@600000 {
			label = "ubi";
			reg = <0x600000 0x7F900000>;
		};
	};
};

&eth {
	status = "okay";
	mediatek,switch = <&switch>;

	mac@0 {
		reg = <0>;
		phy-mode = "2500base-x";
		fixed-link {
			speed = <2500>;
			full-duplex;
			pause;
		};
	};
};

&switch {
	compatible = "mediatek,mt7531ae";
	reg = <0x1f>;
	reset-gpios = <&pio 39 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&hnat {
	status = "okay";
};

&consys {
	status = "okay";
};

&wbsys {
	status = "okay";
};

&wed {
	status = "okay";
};

&dummy_system_clk {
	compatible = "fixed-clock";
	clock-frequency = <0x2625a00>;
	#clock-cells = <0>;
};
